{% extends 'layout.html' %}

{% block title %}
    Post Detail
{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <div class="card" style="margin-top:2em;">
            <div class="card-header">
                {{object.author.username}}
            </div>
            <img src="{{object.image.url}}" class="card-img-top">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'post:liked' object.id %}" class="float-left btn-like {%if user in object.liked.all%}active{%endif%}">Liked</a>
                    {% if object.liked.all.count %}

                    <span class="float-left badge badge-danger" style="margin-left:0.5em;">
                        {{object.liked.all.count}}
                    </span>

                    {% endif %}

                    <a href="{% url 'post:saved' object.id %}"  class="float-right btn-save {%if user in object.saved.all%}active{%endif%}">Saved</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'post:update' object.id %}" class="card-link">수정</a>
                    <!--//
                    <form action="{% url 'post:delete' object.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Post Delete" class="btn btn-danger">
                    </form>
                    //-->
                    <a href="{% url 'post:delete' object.id %}" class="card-link">삭제</a>
                </li>
            </ul>

            {% if object.text %}
            <div class="card-body">
                <p class="card-text">{{object.text}}</p>
            </div>
            {% endif %}

            {# load xxx 해당 태그 기능을 지금부터 사용하겠다. #}
            {% load disqus_tags %}
            <div class="card-body">
                {% disqus_show_comments %}
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}